* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    background-image: url("https://picsum.photos/1920/1080");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.buttons {
    margin: 30px 0;
    display: flex;
    gap: 40px;
}

button {
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    transition: opacity 0.5 s ease-in-out;
}

button:hover {
    opacity: 0.7;
}

#reset-button {
    background-color: rgb(245, 133, 133);
    padding: 5px;
    font-size: 20px;
    color: #ffffff;
}

#rock {
    background-color: #A9A9A9;
}

#papper {
    background-color: #F5DEB3;
}

#scissors {
    background-color: #000080;
}

p {
    font-weight: bold;
    margin-bottom: 10px;
}

.your-score span {
    color: rgb(1, 1, 97);
    font-size: 35px;
}

.machine-score span {
    color: rgb(209, 6, 6);
    font-size: 35px;
}

.img-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    width: 100%;
}

.result {
    font-size: 30px;
}

@media screen and (max-width: 600px) {
    .buttons {
        gap: 20px;
    }

    button {
        font-size: 30px;
        padding: 8px;
    }

    #reset-button {
        width: 100%;
    }

    .container {
        margin-bottom: 20px;
    }
}